POSTGRES_DB=avtobirzhsi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5435

DATABASE_URL=postgres://postgres:changeme@localhost:5435/avtobirzhsi_db?sslmode=disable
JWT_SECRET=change-me-in-local-env
PORT=8080
